<section class="card">
    <h5 class="card-title p-3 mb-2 bg-black text-white">{{title}} Posted by {{user.username}} on {{format_date date_posted}}</h5>

    <div class="card-body">
      <p class="card-text text-black">{{content}}</p>
    </div>
    <a href='/dashboard/updateBlog/{{id}}' class="edit-post-btns btn btn-primary mb-3 mx-3" id="edit-post-button"
    style="width: 30%; padding: 3px;" type="submit">Edit Post</a>
</section>