<section class="card">
  <a href="/blog/{{id}}">
    <header>{{title}} Posted by {{user.username}} on {{format_date date_posted}}</header>

    <div class="card-body">
      <p>{{content}}</p>
    </div>
  </a>
</section>